<main>
    <section class="introduction">
        <h1>Manage your bank system with<span>purrrr-fection</span></h1>
        <img src="../../../assets/images/cuteKitty.svg" alt="Cute black kitty looking at you">
    </section>

    <section class="ctaArea">
        <h2>Every CRUD operations and more avaible for :</h2>
        
        <div>
            <a routerLink="customers" title="User the CustomersAPI of Kitty Bank">
                <article class="ctaItem">
                    <h3>Customers</h3>
                    <p>Manage your Customers related data with the CustomersAPI</p>
                </article>
            </a>

            <a routerLink="accounts/0" title="Use the AccountsAPI of Kitty Bank">
                <article class="ctaItem">
                    <h3>Accounts</h3>
                    <p>Manage your Accounts related data with the AccountsAPI</p>
                </article>
            </a>

            <a routerLink="address" title="Use the AddressAPI of Kitty Bank">
                <article class="ctaItem">
                    <h3>Address</h3>
                    <p>Manage your Address related data with the AddressAPI</p>
                </article>
            </a>
        </div>
    </section>
</main>

<script src="../../../assets/script/menu.js"></script>
