<main class="mainAPI">
    <h1>Address API</h1>

    <section class="dataSection addressData">
        <div class="aboveTable">
            <form>
                <input type="number" min="1001" name="customerId" placeholder="1001" />
                <input type="submit" value="Search by customer ID"/>
            </form>

            <a href="#" title="Add new address" class="actionButton addButton">Add new address</a>
        </div>
        <table>
            <thead>
                <tr>
                    <th>Address ID</th>
                    <th>Street Number</th>
                    <th>City</th>
                    <th>Postal code</th>
                    <th>Province</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>212-7 Rue Saint-Pierre</td>
                    <td>Sainte-Thérèse</td>
                    <td>J7E2S4</td>
                    <td>Québec</td>
                    <td>
                        <button class="actionButton updateButton">Update</button>
                        <button class="actionButton deleteButton">Delete</button>
                    </td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>25 Kingston Street</td>
                    <td>Toronto</td>
                    <td>A1B2C3</td>
                    <td>Ontario</td>
                    <td>
                        <button class="actionButton updateButton">Update</button>
                        <button class="actionButton deleteButton">Delete</button>
                    </td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>71 Queen Avenue</td>
                    <td>New York</td>
                    <td>K7C0P3</td>
                    <td>NYC</td>
                    <td>
                        <button class="actionButton updateButton">Update</button>
                        <button class="actionButton deleteButton">Delete</button>
                    </td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>93-4 Hogwarts Blvd</td>
                    <td>Ginew</td>
                    <td>H9H2R1</td>
                    <td>Manitoba</td>
                    <td>
                        <button class="actionButton updateButton">Update</button>
                        <button class="actionButton deleteButton">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </section>
</main>

<script src="../../../assets/script/menu.js"></script>